spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: jdbc:mysql://${DB_URL}:3306/bookstore?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    open-in-view: false


  sql:
    init:
      mode: never

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: ${RABBITMQ_NAME}
    password: ${RABBITMQ_PASSWORD}

  data:
    redis:
      host: redis
      port: 6379
  session:
    store-type: redis

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql: trace





server:
  forward-headers-strategy: native # 혹은 framework
